modal-flavio {

}

/* Top right text */
.baloon {
    position: absolute;
    top: 39%;
    right: 43px;
}

.mymodal {
     width: 90%;
     height: 90%;
     top: 5%;
     bottom: 5%;
     margin-left: 5%;
  }
